{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} User : {{ user['username'] }} {% endblock %}</h2>
    <span class="badge badge-primary">Created On: {{ user['created'] }}</span>
    <table class="table">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>{{user['firstname'] }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{user['lastname'] }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user['email'] }}</td>
            </tr>
            <tr>
                <td>Date Of Birth</td>
                <td>{{user['dob'] }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}